$white: #FFF;
$blue: #0073BC;
$blue-light: #73B9E5;
$yellow: #FFCC00;
$yellow-light: #FFF7D6;
$red: #FFF7D6;
$red-light: #FF7575;
$green: #079325;
$green-light: #62FF84;
$modal-bcg: rgba(255,255,255, 0.6)


